<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Owl corousel style 1 card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Owl carousel Banner</h5>
                </div>
                <div class="card-block">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <ngx-carousel class="banner ngx-carousel" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
                                <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
                                    <div class="bannerStyle">
                                        <img [attr.src]="tile" alt="" class="img-fluid">
                                    </div>
                                </ngx-item>
                                <button NgxCarouselPrev class="carousel-control-prev"><i
                                        class="icofont icofont-rounded-left text-custom"></i></button>
                                <button NgxCarouselNext class="carousel-control-next"><i
                                        class="icofont icofont-rounded-right text-custom"></i></button>
                            </ngx-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owl corousel style 1 card end -->
        </div>
    </div>
</div>