<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Search result 2 card start -->
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <p class="txt-highlight text-center m-t-20">
                La potencia de la búsqueda por metadatos evita que la información se pierda en el sistema y maximiza su
                valor poniéndola a disposición del usuario cuando lo necesita.
              </p>
            </div>
          </div>

          <div class="row seacrh-header">
            <div class="col-lg-4 offset-lg-4 offset-sm-3 col-sm-6 offset-sm-1 col-xs-12">
              <form class="form-material" [formGroup]="busquedaRapidaForm" (ngSubmit)="busquedaRapida()">
                <div class="md-group-add-on form-group form-primary">
                  <span class="md-add-on-file">
                    <button class="btn btn-primary waves-effect waves-light">Busqueda</button>
                  </span>

                  <div class="md-input-file">
                    <input type="text" class="form-control" placeholder="Buscar aquí ...."
                      formControlName="palabraRapida"
                      [ngClass]="{ 'is-invalid': submitted && f.palabraRapida.errors }" />
                    <span class="form-bar"></span>
                    <div *ngIf="submitted && f.palabraRapida.errors">
                      <span class="messages">
                        <p class="text-danger error">Ingrese un indice de busqueda</p>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Search result 2 card end -->

      <h4 class="m-b-20">
        <b>{{contador}}</b> Search Results Found
      </h4>

      <div class="row">
        <!-- Search result found start -->
        <div class="col-lg-12 col-xl-8 search2 search-result">
          <div class="row">
            <div class="col-lg-12">
              <div *ngIf="error" class="alert alert-danger background-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="icofont icofont-close-line-circled text-white"></i>
                </button>
                <strong>Error !</strong> {{error}}
              </div>
            </div>

            <div class="col-lg-12">
              <div *ngIf="loading">
                <div class="text-center">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-12 col-md-12" *ngFor="let documento of documentos">
              <div class="card social-user o-hidden">
                <div class="card-header">
                  <div class="card-header-left">
                    <h5>
                      Libreria: {{documento.libNombre}}
                    </h5>
                    <strong>
                      Páginas: {{documento.arcPaginas}}
                    </strong>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img [src]="documento.pagMini" class="img-fluid z-depth-bottom-3">
                    </div>
                    <div class="col-md-7 offset-md-1">
                      <div class="card-block">
                        <div class="row align-items-center">
                          <div class="col p-t-20 p-b-30">
                            <div class="row" *ngFor="let data of documento.metadata">
                              <div class="col text-c-blue">
                                <h6>{{data.titulo}} :</h6>
                              </div>
                              <div class="col text-left">
                                <div class="text-danger" *ngIf="data.estado===1"><strong>{{data.descripcion}}</strong></div>
                                <div *ngIf="data.estado===0">{{data.descripcion}}</div>
                              </div>
                            </div>
                            <p class="p-t-10">
                              <button class="btn btn-primary btn-block btn-sm" (click)="openMyModal('effect-2',documento.arcCod)"><i
                                  class="fa fa-eye"></i>Visualizar</button>
                              <button class="btn btn-inverse btn-block btn-sm"><i
                                  class="fa fa-cloud-download"></i>Border Button</button>
                            </p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Search result found end -->
        <div class="col-lg-12 col-xl-4">
          <div class="card card-main">
            <div class="card-header">
              <h5 class="card-header-text">Filter</h5>
            </div>

            <div class="card-block">
              <form class="form-material">
                <div class="form-group form-primary">
                  <input id="dropper-default" class="form-control" type="text" placeholder="Birth Date" required=""
                    readonly="readonly" />

                  <span class="form-bar"></span>
                </div>

                <div class="right-icon-control">
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="" />

                    <span class="form-bar"></span>

                    <label class="float-label">Search here...</label>
                  </div>

                  <div class="form-icon">
                    <button class="btn btn-success btn-icon  waves-effect waves-light">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
            <h3>Modal Dialog</h3>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <h1>Lista Paginas</h1>
                        <ul>
                          <li *ngFor="let pagina of paginas">
                             {{ pagina.pagNombre}}
                          </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h1>Visor</h1>
                    </div>
                    <div class="col-md-3">
                        <h1>Paginas Seleccionadas</h1>
                    </div>
                </div>
            </div>
        </app-modal-animation>
    </div>
  </div>
</div>
